.categories {
    padding-top: 37px;
    padding-bottom: 30px;
}

h2 {
    font-weight: 500;
    font-size: 22px;
    line-height: 14px;
}

.row_categories {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    margin-top: 28px;
    margin-bottom: 40px;
}

.category {
    padding: 23px 0;
    max-width: 210px;
    width: 100%;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;

    font-weight: 500;
    font-size: 18px;
    line-height: 14px;
    color: #ffffff;
    transition: transform 0.2s ease-in-out;
}

.category:hover {
    transform: translateY(-5px);
}

.item.blue {
    display: table;
    margin: 0 auto;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    color: #0051BA;
}

.category_two {
    position: relative;
}

.sort_popup {
    position: absolute;
    padding: 8px 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 5px 5px -3px rgb(0 0 0 / 20%), 0 8px 10px 1px rgb(0 0 0 / 14%), 0 3px 14px 2px rgb(0 0 0 / 12%);
    z-index: 2;
}

.sort_popup li {
    font-size: 1rem;
    padding: 6px 16px;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    cursor: pointer;
}

.sort_popup li:hover {
    background-color: #EFEFEF;
}

.category_active {
    background-color: #d3d3d3;
}
@media screen and (max-width: 830px){
    .row_categories{
        gap: 10px;
    }
    .category{
        padding: 17px 0;
        font-size: 14px;
    }
}
@media screen and (max-width: 600px){
    .row_categories{
        overflow-y: scroll;
    }
    .category{
        min-width: 130px;
        width: 130px;
    }
}