.bottom-header{
    padding: 20px 0;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(204, 198, 198, 0.5);
}

.row{
    display: flex;
    align-items: center;
    gap: 20px;
}

form{
    display: flex;
    align-items: center;
    flex: 1;
}

form input{
    flex: 1;
    padding: 15px 20px;
    border-radius: 5px 0 0 5px;
    border: 2px solid #FFCB05;
}

input:focus{
    outline: 0;
}

input::placeholder{
    font-weight: 500;
    font-size: 12px;
    line-height: 14.06px;
    color: #A3A3A3;
}

.form.btn{
    padding: 0 47px;
    height: 50px;
    border-radius: 0 5px 5px 0;
}

.btn{
    border: none;
    padding: 15.5px 20px;
    background-color: #FFCB05;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.15s ease-in;

    font-weight: 600;
    font-size: 16px;
    line-height: 18.75px;
}
.btn:hover{
    background-color: #9d7f07;
}

.search{
    display: none;
}

@media screen and (max-width: 1185px) {

}

@media screen and (max-width: 820px) {
    form input{
        padding: 10px 16px;
    }
    .form.btn{
        height: 40px;
        padding: 0 40px;
    }
    .btn{
        font-size: 14px;
        height: 40px;
        padding: 0 18px;
    }
}

@media screen and (max-width: 655px) {
    .btn{
        font-size: 13px;
    }
    .form.btn{
        padding: 0 32px;
        display: none;
    }
    .search{
        position: relative;
        display: block;
        height: 40px;
        background-color: #FFCB05;
        border-radius: 0 5px 5px 0;
    }
}

@media screen and (max-width: 425px) {
    .row{
        gap: 15px;
    }
    .btn{
        font-size: 11px;
        padding: 0 13px;
    }
    .bottom-header{
        padding: 15px 0;
    }

}
/* Rectangle */



